@import "config";
@import "nav";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  color: white;
}

a {
  color: white;
}

main {
  background: rgba($primary-color, 0.9);
  z-index: 1;
  height: 100vh;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

.text-large {
  font-size: 90px;
}

.text-medium {
  font-size: 25px;
}

.text-secondary,
.current {
  color: $secondary-color;
}

.desc {
  background: rgba(lighten($primary-color, 0.5), 0.5);
  padding: 10px 20px;
}

// home page
#home-page {
  padding: 25vh 10vw;

  &::after {
    content: "";
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .social-icons {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 40px;

    li {
      padding-right: 15px;

      a {
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// About Page
#about-page {
  padding: 5vh 5vw;

  .about-content {
    display: grid;
    grid-template-areas:
      "bioimage biodesc biodesc"
      "job1 job2 job3";
    grid-gap: 40px 40px;

    .bio-img {
      grid-area: bioimage;
      margin: 0 auto;
      width: 50%;

      img {
        width: 100%;
        border: 3px $secondary-color solid;
        border-radius: 50%;
      }
    }

    .bio-desc {
      grid-area: biodesc;
      font-size: 22px;
    }

    .job1 {
      grid-area: job1;
      background-color: rgba(lighten($primary-color, 0.5), 0.5);
      border-bottom: 3px $secondary-color solid;
      padding: 10px;
    }

    .job2 {
      grid-area: job2;
      background-color: rgba(lighten($primary-color, 0.5), 0.5);
      border-bottom: 3px $secondary-color solid;
      padding: 10px;
    }

    .job3 {
      grid-area: job3;
      background-color: rgba(lighten($primary-color, 0.5), 0.5);
      border-bottom: 3px $secondary-color solid;
      padding: 10px;
    }
  }
}

// footer
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 40px;
  background: darken($primary-color, 10);
}
